{% extends 'base.html' %}

{% block content %}
<h1>Tasks</h1>
<!-- Comentario en HTML-->
{% for task in tasks%}
    <div>
        {# note: esta es una tarea #}
        <h1> {% if task.done == False %} ⏱
             {% else %} ✅
             {% endif %}
             {{task.title}} 
        </h1>

        {% comment %} {% if task.done == False %}
            <p>Tarea pendiete</p>
        {% else %}
            <p>Tarea realizada</p>
        {% endif %} {% endcomment %}

        <p>{{task.description}}</p>
        <p>Project: {{task.project.name}}</p>
        <button>
            Delete  
        </button>
        <button>
            ✅ Done
        </button>
    </div>
{% endfor %}
{% endblock %}